@import "../themes/themes";

button {
  & {
    background-color: $background-darken-1;
    border: none;
    border-radius: 8px;
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
  }
  &:hover {
    background-color: $background-darken-3;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}
