$background: #e2e2e2;
$background-darken-1: darken($background, 10%);
$background-darken-2: darken($background, 15%);
$background-darken-3: darken($background, 20%);
$background-darken-4: darken($background, 25%);
$background-darken-5: darken($background, 30%);
$foreground: #3b2b2b;
$url-foreground: hsl(220, 90%, 60%);
$border: #dee2e6;
$code-color: #a8af96;
